.panel-heading {
  background-color: #337ab7; /* Example background color */
  color: white; /* Example text color */
  padding: 10px; /* Example padding */
}

.panel-body {
  padding: 20px; /* Example padding */
}

.required {
  color: red; /* Set the color to red */
  margin-left: 5px; /* Add some space between the label and the star */
}

input {
  border-radius: 10px;
  border: 0.2px solid #4e515085;
  margin: 5px;
}
