<div class="container">
  <div class=".col-xs-4 .col-md-offset-2">
    <button class="btn btn-secondary mb-3" routerLink="/products">Back</button>
    <div class="panel panel-default panel-info Profile">
      <div class="panel-heading">My Profile</div>
      <div class="panel-body">
        <div class="form-horizontal">
          <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
            <div class="raw d-flex">
              <div class="col">
                <div class="form-group">
                  <label class="col control-label">First Name<span class="required">*</span></label>
                  <div class="col">
                    <input class="form-control" type="text" formControlName="firstName" placeholder="First Name" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col control-label">Last Name<span class="required">*</span></label>
                  <div class="col">
                    <input class="form-control" type="text" formControlName="lastName" placeholder="Last Name" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col control-label">Email<span class="required">*</span></label>
                  <div class="col">
                    <input class="form-control" type="text" formControlName="email" placeholder="Email" />
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-group">
                    <label class="col control-label">Phone<span class="required">*</span></label>
                    <div class="col">
                      <input class="form-control" type="text" formControlName="mobileNumber" placeholder="xxx-xxx-xxxx"
                        min="11111111" max="999999999999" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col control-label">Gender<span class="required">*</span></label>
                  <div class="col">
                    <select class="form-control" formControlName="gender">
                      <option value="">Select Gender</option>
                      <option value="male" [selected]="profile?.gender === 'male'">
                        Male
                      </option>
                      <option value="female" [selected]="profile?.gender === 'female'">
                        Female
                      </option>
                      <option value="other" [selected]="profile?.gender === 'other'">
                        other
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col control-label">Last Login :
                    {{ profile?.lastLoginDate || profile?.createdAt }}</label>
                </div>
              </div>
              <div class="col">
                <div formGroupName="billingAddress">
                  <div class="form-group">
                    <label class="col control-label">Billing Address<span class="required">*</span></label>
                    <div class="col">
                      <input class="form-control" type="text" formControlName="address" placeholder="Address" />
                    </div>
                    <div class="col">
                      <input class="form-control" type="text" formControlName="street" placeholder="Street" />
                    </div>
                    <div class="col">
                      <input class="form-control" type="text" formControlName="city" placeholder="City" />
                    </div>
                    <div class="col">
                      <input class="form-control" type="text" formControlName="state" placeholder="State" />
                    </div>
                    <div class="col">
                      <input class="form-control" type="number" formControlName="zipCode" placeholder="Pin Code" />
                    </div>
                  </div>
                </div>
                <div formGroupName="shippingAddress">
                  <div class="form-group">
                    <label class="col control-label">Shipping Address<span class="required">*</span></label>
                    <div class="col">
                      <input class="form-control" type="text" formControlName="address" placeholder="Address" />
                    </div>
                    <div class="col">
                      <input class="form-control" type="text" formControlName="street" placeholder="Street" />
                    </div>
                    <div class="col">
                      <input class="form-control" type="text" formControlName="city" placeholder="City" />
                    </div>
                    <div class="col">
                      <input class="form-control" type="text" formControlName="state" placeholder="State" />
                    </div>
                    <div class="col">
                      <input class="form-control" type="number" formControlName="zipCode" placeholder="Pin Code" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10 ">
                <button class="btn btn-primary mr-3" type="submit"
                  [disabled]="!profileForm.valid || !profileForm.dirty">
                  Update
                </button>

                <button type="button" class="btn btn-secondary" (click)="cancel()" [disabled]="!profileForm.dirty">
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>