@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

.reviews {
  font-family: poppins;
  box-sizing: border-box;

  .testimonial-heading {
    letter-spacing: 1px;
    margin: 30px 0;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      font-size: 1.3rem;
      color: #252525;
      margin-bottom: 10px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }

  .testimonial-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .testimonial-box {
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
  }

  .profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }

  .name-user {
    display: flex;
    flex-direction: column;

    span {
      color: #979797;
      font-size: 0.8rem;
    }
  }

  .reviews {
    color: #f9d71c;
  }

  .box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .client-comment p {
    font-size: 0.9rem;
    color: #4b4b4b;
  }

  .input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .reviewinp {
    width: 300px;
    height: 70px;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #f5f5f5;
    resize: none;
    padding: 10px 5px 10px 10px;
    font-family: 'Sulphur Point', sans-serif;
    font-size: 1rem;
  }

  .stars {
    display: flex;
    padding: 0 20px;
  }

  .star1,
  .star2,
  .star3,
  .star4,
  .star5 {
    margin-right: 5px;
    font-size: 1.3rem;
    cursor: pointer;
  }

  .submit {
    color: white;
    background-color: #036bfc;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-family: 'Sulphur Point', sans-serif;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
  }

  .submit:hover {
    background-color: #4592ff;
  }

  .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    border: 1.5px solid #d1d1d1;
    width: 100%;
  }
}
