<div class="main-block">
  <app-navigation></app-navigation>
  <main>
    <div>
      <div class="basket-module">
        <h2>Order details</h2>
      </div>
      <div class="basket-labels">
        <ul>
          <li class="item item-heading">Item</li>
          <li class="price">Price</li>
          <li class="price">Mrp</li>
          <li class="quantity">Quantity</li>
          <li class="subtotal">Subtotal</li>
        </ul>
      </div>
      <div *ngFor="let cartItem of orders" class="basket-product">
        <div class="item">
          <div class="product-image">
            <img
              src="{{media_url}}{{
                cartItem.product.imageUrls[0]
              }}"
              routerLink="/products/details"
              [queryParams]="{ id: cartItem.product._id }"
              alt="Placeholder Image"
              class="product-frame"
            />
          </div>
          <div class="product-details">
            <h1>
              <strong
                ><span class="item-quantity">{{ cartItem.quantity }}</span> x
              </strong>
              {{ cartItem.product.name }}
            </h1>
            <div class="d-flex">
              <span
                class="color-box"
                [ngStyle]="{ 'background-color': cartItem.product.color }"
              ></span>
              <p>
                <strong> Size {{ cartItem.size }}</strong>
              </p>
              <p>Product Code - {{ cartItem.product._id }}</p>
              <p>Product status - {{ cartItem.status }}</p>
            </div>
          </div>
        </div>
        <div class="price">{{ cartItem.product.price || 0 }}</div>
        <div class="price">{{ cartItem.product.mrp || 0 }}</div>
        <div class="quantity">
          {{ cartItem.quantity }}
        </div>
        <div class="subtotal">
          {{ cartItem.quantity * cartItem.product.price }}
        </div>
        <div class="remove" [hidden]="cartItem.status === 'canceled'">
          <button (click)="cancelOrder(cartItem._id)">cancel</button>
        </div>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>
