.page {
  display: flex;
  align-items: center;
  background: #ffffff;
  padding: 0;
  justify-content: flex-end;
  // box-shadow: 0 0.8rem 2rem rgba(#5a6181, 0.05);

  &__numbers,
  &__btn,
  &__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.1rem;
    cursor: pointer;
  }

  &__dots {
    width: 1.6rem;
    height: 1.6rem;
    color: var(--greyLight);
    cursor: initial;
  }

  &__numbers {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 0.2rem;

    &:hover {
      color: var(--primary);
    }

    &.active {
      color: #ffffff;
      background: var(--primary);
      font-weight: 600;
      border: 1px solid var(--primary);
    }
  }

  &__btn {
    color: var(--greyLight);
    pointer-events: none;

    &.active {
      color: var(--greyDark);
      pointer-events: initial;

      &:hover {
        color: var(--primary);
      }
    }
  }
}
