.main-block {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}
.filter {
  max-width: 400px;
  padding: 30px;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 5px 5px 20px 0px #eee;
  h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .filter-category {
    padding: 0px;
    border-radius: 6px;
    .category-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .image-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
      }
      p {
        margin: 0;
      }
    }
  }
  &.filter-range {
    margin-top: 40px;
    .card {
      margin: 1em;
      width: 20em;
      border: 0;
      margin: 0;
      .subheader {
        font-weight: 700;
      }
    }
    .list-group-flush > .list-group-item {
      border: 0;
    }
  }
}
.mat-mdc-slider {
  display: block;
}

.product-list {
  margin-top: 20px;
  .card{
    border-radius: 20px;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
      height: 300px;
      width: 250;
      border-radius : 10px
    }
  }
  .cart-block {
    margin: 0 auto;

    @media (min-width: 768px) {
      max-width: 80%; /* Set your desired max-width for larger screens */
    }
  }
}
