<div class="container">
    <form
        [formGroup]="variantForm"
        (ngSubmit)="addVariant()"
        class="d-flex flex-wrap align-items-center justify-content-between"
    >
        <div class="d-flex align-items-center justify-content-center mr-3">
            <label for="mrp">MRP:</label>
            <input
                type="number"
                id="mrp"
                formControlName="mrp"
                required
                class="form-control"
            />
        </div>
        <div class="d-flex align-items-center justify-content-center mr-3">
            <label for="discounted_price">Discounted Price:</label>
            <input
                type="number"
                id="discounted_price"
                formControlName="discounted_price"
                required
                class="form-control"
            />
        </div>
        <div class="d-flex align-items-center justify-content-center mr-3">
            <label for="size">Size:</label>
            <select
                id="size"
                formControlName="size"
                required
                class="form-control"
                style="appearance: none; width: 50px"
            >
                <option *ngFor="let size of sizes" [value]="size">
                    {{ size }}
                </option>
            </select>
        </div>
        <div class="d-flex align-items-center justify-content-center mr-3">
            <label for="color">Color:</label>
            <input
                type="text"
                id="color"
                formControlName="color"
                ngModel
                required
                class="form-control"
            />
        </div>
        <div class="d-flex align-items-center justify-content-center mr-3">
            <label for="stock">Stock:</label>
            <input
                type="number"
                id="stock"
                formControlName="stock"
                required
                class="form-control"
            />
        </div>
        <button
            type="submit"
            class="btn btn-primary align-items-center justify-content-center"
            (click)="addVariant()"
        >
            Add
        </button>
    </form>

    <ul class="list-group">
        <li
            *ngFor="let variant of variants; let i = index"
            class="list-group-item"
        >
            <div>
                <strong>MRP:</strong> {{ variant.mrp }} |
                <strong>Discounted Price:</strong>
                {{ variant.discounted_price }} | <strong>GST:</strong>
                {{ variant.gst }}% | <strong>Size:</strong> {{ variant.size }} |
                <strong>Stock:</strong> {{ variant.stock }}
                <button
                    (click)="removeVariant(i)"
                    class="btn btn-danger btn-sm float-right"
                >
                    Remove
                </button>
            </div>
        </li>
    </ul>
</div>
