<div class="container image-block">
  <div class="row">
    <div class="col-lg-7">
      <img
        src="https://s3-alpha-sig.figma.com/img/040c/c45a/2d79166cf646d5a5a0119f93bceae506?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=IningEetV93eX0lV128vid--ctc5JouXdaVHHY5qCK9-ytgwXifOftZ4pANdaN3Rh8bqxXE47oA5RMHSe-t7RS5ehn6568PoLTJz2DZquFQkvIkpqYUC2O6Plkn49VLSPsKAR9QxULfzaPZoO9o1od5IZklBAa5JT1WlFcaN9YSWVDV4vCvZNaeESkCiHnqiOyRSREWE8LbvyhDffWEmONfpgnj~s8ZOUIKkbCFo8efIZO8~LWEJUK90gRWPRsk2yjsRZxHsw2LMYP1beKwMzxaeQd3HO2ZfPR3YLsdNP0WhNNjmUreRhsuOh2Bsi~c9SuOie2v9Ir8lxQ30XERCXA__"
      />
    </div>
    <div class="col-lg-5">
      <div class="form-block">
        <form
          action=""
          class="login"
          [formGroup]="loginForm"
          (ngSubmit)="proceedLogin()"
        >
          <div>
            <h2 class="welcome">Welcome 👋</h2>
          </div>
          <div>
            <p class="label">Please login here</p>
          </div>
          <div>
            <label class="input-label">Email address</label><br />
            <input
              type="text"
              class="text-input"
              formControlName="emailOrMobile"
              required
            />
          </div>
          <div>
            <label class="input-label">Password</label><br />
            <div class="d-flex align-items-center position-relative">
              <input
                [type]="showPassword ? 'text' : 'password'"
                class="text-input"
                formControlName="password"
                required
              />
              <i
                class="fa position-absolute"
                style="right: 15px"
                [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
                (click)="togglePasswordVisibility()"
              ></i>
            </div>
          </div>
          <div class="remember-block">
            <div class="remember">
              <input
                [(ngModel)]="rememberMe"
                [ngModelOptions]="{ standalone: true }"
                style="height: 20px; width: 20px"
                type="checkbox"
              /><label for="rememberMe">Remember Me</label>
            </div>
            <label class="forgot" for="forgotPassword">Forgot Password?</label>
          </div>
          <div>
            <button class="submit" onclick="">
              <p>Login</p>
            </button>
          </div>
          <div class="signup-link">
            Not a member? <a routerLink="/registration">Signup now</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
