@import 'node_modules/ngx-toastr/toastr-old.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}
